################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MeaiSample/.vs
/MeaiSample/MeaiMinimalApi/bin/Debug/net10.0
/MeaiSample/MeaiMinimalApi/obj
/DotNetAiTokensDemo/DotNetAiTokensDemo/.vs
/DotNetAiTokensDemo/DotNetAiTokensDemo/bin/Debug/net10.0
/DotNetAiTokensDemo/DotNetAiTokensDemo/obj
