################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MeaiSample/.vs
/MeaiSample/MeaiMinimalApi/bin/Debug/net10.0
/MeaiSample/MeaiMinimalApi/obj
/DotNetAiTokensDemo/DotNetAiTokensDemo/.vs
/DotNetAiTokensDemo/DotNetAiTokensDemo/bin/Debug/net10.0
/DotNetAiTokensDemo/DotNetAiTokensDemo/obj
/TokenVisualizer.Api/.vs
/TokenVisualizer.Api/TokenVisualizer.Api/bin/Debug/net8.0
/TokenVisualizer.Api/TokenVisualizer.Api/obj
/AiCompare/.vs
/AiCompare/AiCompare.Api/bin/Debug/net8.0
/AiCompare/AiCompare.Api/obj
/PromptEngineeringDemo/.vs/PromptEngineeringDemo.slnx
/PromptEngineeringDemo/PromptEngineeringDemo/obj
/PromptEngineeringDemo/PromptEngineeringDemo/bin/Debug/net8.0
/MultiAIServiceProviders.Api/.vs
/MultiAIServiceProviders.Api/MultiAIServiceProviders.Api/obj
/PromptEngineeringDemo/.vs/ProjectEvaluation
/MultiAIServiceProviders.Api/MultiAIServiceProviders.Api/bin/Debug/net8.0/runtimes/browser/lib/net8.0
/MultiAIServiceProviders.Api/MultiAIServiceProviders.Api/bin/Debug/net8.0
/AiProviderPoc/.vs
/AiProviderPoc/AiProviderPoc.Api/obj
